{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Add Node</h1>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.latitude.label }}
      {{ form.latitude(class="form-control") }}
      {% for error in form.latitude.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.longitude.label }}
      {{ form.longitude(class="form-control") }}
      {% for error in form.longitude.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.popup.label }}
      {{ form.popup(class="form-control") }}
      {% for error in form.popup.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    
    <div class="form-group">
      <label for="image">Image (size: 25x25 .png)</label>
      <input type="file" id="image" name="image" class="form-control-file" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
{% endblock %}
